# this is a policy strategy
	data set policy

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/policy_sequences_by_comb_enriched.csv')

/tmp/ipykernel_26905/2229576720.py:1: DtypeWarning: Columns (23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../data/policy_sequences_by_comb_enriched.csv')

In [4]:
df

,Policy_Sequence,Unnamed: 1,Q,Tp,Tnp,p,W1,W2,arrival_rate,gamma,...,arrival_rate.1,gamma.1,Unnamed: 34,Unnamed: 35,Tnp.3,p.3,Lambda.1,T.1,W1.3,Gamma.1
0,"[0, 2, 2, 2, 2, 2]",30.10.1110,5,1,3,0.1,1,1,0.10,0.010000,...,0.100,0.010000,NaN,NaN,3.0,0.100000,0.100,1.0,1.0,0.010000
1,"[0, 2, 2, 2, 2, 2]",30.10.1110.1,5,1,3,0.1,1,1,0.10,0.118889,...,0.225,0.118889,NaN,NaN,6.0,0.188889,0.225,NaN,112.0,0.118889
2,"[0, 2, 2, 2, 2, 2]",30.10.1110.2,5,1,3,0.1,1,1,0.10,0.227778,...,0.350,0.227778,NaN,NaN,NaN,0.277778,0.350,NaN,223.0,0.227778
3,"[0, 2, 2, 2, 2, 2]",30.10.1110.3,5,1,3,0.1,1,1,0.10,0.336667,...,0.475,0.336667,NaN,NaN,NaN,0.366667,0.475,NaN,334.0,0.336667
4,"[0, 2, 2, 2, 2, 2]",30.10.1110.4,5,1,3,0.1,1,1,0.10,0.445556,...,0.600,0.445556,NaN,NaN,NaN,0.455556,0.600,NaN,445.0,0.445556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21370,"[0, 0, 0, 0, 0, 2]",150.90.3110000.5,5,1,15,0.9,1000,1,0.35,0.554444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21371,"[0, 0, 0, 0, 0, 2]",150.90.3110000.6,5,1,15,0.9,1000,1,0.35,0.663333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21372,"[0, 0, 0, 0, 0, 2]",150.90.3110000.7,5,1,15,0.9,1000,1,0.35,0.772222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21373,"[0, 0, 0, 0, 0, 2]",150.90.3110000.8,5,1,15,0.9,1000,1,0.35,0.881111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21374,"[0, 0, 0, 0, 0, 2]",150.90.3110000.9,5,1,15,0.9,1000,1,0.35,0.990000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN